.ol-nav ol {
    display: flex;
    justify-content: space-evenly;
    list-style: none;

  }
  
  .a-ol-nav {
    text-decoration: none;
  }

.size-p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20.0025px;
  line-height: 23.0025px;
  text-align: center;
  color: red;
}
